.costumheight{
    overflow: auto;
    height: 200px;

}
.jobscard {
    overflow: auto;
    height: 300px;

}

.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 700px;
    overflow-y: auto;
}