<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">

    <!-- fontawesome -->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">

        
    <!-- date picker-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
   
    <!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="http://www.useragentman.com/tests/html5Forms/shared/js/modernizr.com/Modernizr-2.5.3.forms.js"></script>    
    
   
    <link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" /> -->

    <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />
       

    <title>Rattata</title>

</head>

<body>
    <header>
        <div class="row navbar navbar-dark bg-dark shadow-sm mb-3">
            <div class="container d-flex justify-content-between">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <strong>Rattata</strong>
                </a>
                <div class="dropdown show">
                    <button class="navbar-toggler " type="button" data-toggle="dropdown" id="MenuDropDownButton"
                        aria-haspopup="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon float-right"></span>
                    </button>
                    <!-- dropdown for menu-->
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="MenuDropDownButton">
                        
                        <a class="dropdown-item" href="#"><div class="float-left mr-4"><i class="fas fa-book-open"></i></div> Help </a>
                        
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><div class="float-left mr-4"><i class="fas fa-sign-out-alt"></i></div> Log-out </a>

                    </div>
                </div>
            </div>
        </div>
        <!--end of the menubar-->
    </header>
    <div class="row justify-content-center mt-1">
        <div class="col-10">
            <button class="btn btn-dark btn-block shadow" type="button" data-toggle="collapse" data-target="#collapseExample"
                aria-expanded="false" aria-controls="collapseExample">
                <div class="float-left"><i class="far fa-caret-square-down"></i></div>
                
                <strong> 28-01-2019 </strong>
            </button>
        </div>
    </div>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">

            <div class="btn-group">
                <button type="button" class="btn dropdown-toggle shadow-sm" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Jacob van ruijsdaalstraat 8

                    <div class="float-right">
                        <i class="fas fa-ambulance"></i>
                        <i class="far fa-clock"></i>
                        <i class="fas fa-phone"></i>
                    </div>

                </button>

                <div class="dropdown-menu">

                    <table class="table table-bordered">

                        <tr>
                            <th>Name:</th>
                            <td>Marlin Verhulst</td>
                        </tr>
                        <tr>
                            <th>Address:</th>
                            <td>Jacob van ruijdaalstraat 8</td>
                        </tr>
                        <tr>
                            <th>Zip-code:</th>
                            <td>4903VC</td>
                        </tr>
                        <tr>
                            <th>City:</th>
                            <td>Roosendaal</td>
                        </tr>
                        <tr>
                            <th>Phone:</th>
                            <td>0615901781</td>
                        </tr>
                        <tr>
                            <th>Short Comment:</th>
                            <td><small>Ratten in de voortuin vaker geweest</small></td>
                        </tr>
                        <tr>
                            <th>Options:</th>
                            <td>
                                <form action="#">
                                    <div class="form-group">
                                        <div class="mb-3">
                                            <!-- <i class="far fa-clock"></i> -->
                                            <input class="form-group" type="text" id="timepicker" width="150" name="visitBefore" id="">
                                            <script>
                                                    $('#timepicker').timepicker();
                                                </script>
                                        </div>
                                        <div class="mb-3" >
                                            <i class="fas fa-phone"></i>
                                            <input class="form-group" type="checkbox" name="callFirst" id="">
                                        </div>

                                        <button type="submit" class="btn btn-secondary float-right"><i class="far fa-check-circle"> Save</i></button>

                                    </div>
                                </form>
                            </td>    
                        </tr>
                    </table>

                    <div class="dropdown-divider"></div>
                    <div class="row justify-content-center">
                        <div class="col-8">

                            <a class="btn btn-outline-dark btn-block" data-toggle="modal" data-target="#exampleModal" href="#">Open</a>

                        </div>
                    </div>

                </div>
            </div>

            
            
            
        </div>
    </div>
    <div class="row justify-content-center mt-1">
            <div class="col-10">
                <button class="btn btn-dark btn-block shadow" type="button" data-toggle="collapse" data-target="#collapseExample2"
                    aria-expanded="false" aria-controls="collapseExample">
                    <div class="float-left"><i class="far fa-caret-square-down"></i></div>
                    <strong> 29-01-2019 </strong>
                </button>
            </div>
        </div>
        <div class="collapse" id="collapseExample2">
            <div class="card card-body">
    
                <div class="btn-group">
                    <button type="button" class="btn dropdown-toggle shadow-sm" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Random Other Adres
    
                        <div class="float-right">
                            <i class="fas fa-ambulance"></i>
                            <i class="far fa-clock"></i>
                            <i class="fas fa-phone"></i>
                        </div>
    
                    </button>
    
                    <div class="dropdown-menu">
    
                        <table class="table table-bordered">
    
                            <tr>
                                <th>Name:</th>
                                <td>Jan jansen</td>
                            </tr>
                            <tr>
                                <th>Address:</th>
                                <td>JRandom other address 8</td>
                            </tr>
                            <tr>
                                <th>City:</th>
                                <td>Oss</td>
                            </tr>
                            <tr>
                                <th>Phone:</th>
                                <td>0615901781</td>
                            </tr>
                            <tr>
                                <th>Short Comment:</th>
                                <td><small>Rotzooi overal , geen koffie</small></td>
                            </tr>
                        </table>
    
                        <div class="dropdown-divider"></div>
                        <div class="row justify-content-center">
                            <div class="col-8">
    
                                <a class="btn btn-outline-dark btn-block" href="#">Open</a>
    
                            </div>
                        </div>
    
                    </div>
                </div>
                
                
            </div>
        </div>
        <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Jacob Van Ruijsdaelstraat 8</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row justify-content-center mt-1">
                <div class="col-10">
                    <div class=" mb-2"><strong>Comments:</strong></div>
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <textarea disabled name="" id="description" cols="30" rows="5">Vermoedelijk een rat tussen de woonlaag (loopt door heel het blok). Daarnaast ook gangenstelsel in de tuin / omhoog gewerkte aarde</textarea>
        
                    </div>
        
                    <div class="form-group">
                        <label for="observation">Observations:</label>
                        <textarea name="" id="observation" cols="30" rows="5">Vermoedelijk een rat tussen de woonlaag (loopt door heel het blok). Daarnaast ook gangenstelsel in de tuin / omhoog gewerkte aarde</textarea>
        
                    </div>
                    <div class=" mb-1"><strong>Cause:</strong></div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="voer" name="cause" class="custom-control-input">
                        <label class="custom-control-label" for="voer">Voer</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="vervuiling" name="cause" class="custom-control-input">
                        <label class="custom-control-label" for="vervuiling">Vervuiling</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="riool" name="cause" class="custom-control-input">
                        <label class="custom-control-label" for="riool">Riool</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="sloot" name="cause" class="custom-control-input">
                        <label class="custom-control-label" for="sloot">Sloot</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="vijver" name="cause" class="custom-control-input">
                        <label class="custom-control-label" for="vijver">Vijver</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="overig" name="cause" class="custom-control-input">
                        <label class="custom-control-label" for="overig">Overig</label>
                    </div>
                    <div><hr></div>
                    <!--Date Picker-->
                    <div class="form-group mt-2">
                        <div class=" mb-1"><strong>Next Visit:</strong></div>     
                    <input id="datepicker" width="276" />
                    <script>
                        $('#datepicker').datepicker({
                            uiLibrary: 'bootstrap'
                        });
                    </script>
                    </div>

                    <div>
                       
                    <!-- Rounded switch -->
                <label class="switch">
                <input type="checkbox" name="finished">
                <span class="slider round"></span>
                </label>
                <strong>Problem Solved ?</strong>
        
            </div>
                    </form> <!-- end of form-->
                </div> <!-- end of column-->
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary " data-dismiss="modal">Back</button>
          <button type="button" class="btn btn-primary">End Visit</button>
        </div>
      </div>
    </div>
  </div>
  




    
    
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>

</html>